<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linghong.fkdp.mapper.ImUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.linghong.fkdp.pojo.ImUser">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="nick_name" property="nickName" />
        <result column="gender" property="gender" />
        <result column="status" property="status" />
        <result column="avatar" property="avatar" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, nick_name, gender, status, avatar, create_time
    </sql>

</mapper>
